data/n8n/templates/content_analysis_workflow.json
{
  "name": "Content Analysis Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/content-analysis",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Content Analysis Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "content-analysis-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.analysis_type }}",
              "operation": "equal",
              "value2": "document_analysis"
            }
          ]
        }
      },
      "id": "analysis-router",
      "name": "Route by Analysis Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "url": "http://localhost:8000/api/agents/content_analysis/trigger",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk_codealchemy_n8n_2025"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "operation",
              "value": "analyze_documents"
            },
            {
              "name": "document_folder",
              "value": "data/documents"
            },
            {
              "name": "analysis_type",
              "value": "comprehensive"
            }
          ]
        },
        "options": {}
      },
      "id": "trigger-content-analysis",
      "name": "Trigger Content Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "n8n-api-credentials",
          "name": "CODE_ALCHEMY API"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "url": "http://localhost:8000/api/agents/content_analysis/trigger",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk_codealchemy_n8n_2025"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "operation",
              "value": "extract_insights"
            },
            {
              "name": "content_type",
              "value": "text_analysis"
            }
          ]
        },
        "options": {}
      },
      "id": "trigger-insight-extraction",
      "name": "Trigger Insight Extraction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "n8n-api-credentials",
          "name": "CODE_ALCHEMY API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.success }}",
              "operation": "equal",
              "value2": true
            }
          ]
        }
      },
      "id": "success-check",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "jsCode": "// Process successful content analysis\nconst result = $input.first();\n\n// Extract analysis results\nconst documentsAnalyzed = result.json.documents_analyzed || 0;\nconst insightsFound = result.json.insights_found || 0;\nconst processingTime = result.json.processing_time || 0;\nconst analysisType = result.json.analysis_type || 'unknown';\n\n// Create comprehensive summary\nconst summary = {\n  status: 'success',\n  operation: 'content_analysis',\n  analysis_type: analysisType,\n  timestamp: new Date().toISOString(),\n  metrics: {\n    documents_analyzed: documentsAnalyzed,\n    insights_found: insightsFound,\n    processing_time: processingTime\n  },\n  message: `Successfully analyzed ${documentsAnalyzed} documents, found ${insightsFound} insights in ${processingTime}s`\n};\n\n// Log to console\nconsole.log('Content Analysis Summary:', summary);\n\nreturn summary;"
      },
      "id": "process-success",
      "name": "Process Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 100]
    },
    {
      "parameters": {
        "jsCode": "// Handle content analysis failure\nconst result = $input.first();\n\nconst errorSummary = {\n  status: 'error',\n  operation: 'content_analysis',\n  timestamp: new Date().toISOString(),\n  error: result.json.error || 'Unknown error',\n  message: 'Content analysis operation failed'\n};\n\n// Log error\nconsole.error('Content Analysis Error:', errorSummary);\n\nreturn errorSummary;"
      },
      "id": "process-error",
      "name": "Process Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "url": "http://localhost:8000/webhook/system-alert",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk_codealchemy_n8n_2025"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "content_analysis_complete"
            },
            {
              "name": "data",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "notify-completion",
      "name": "Notify Completion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1340, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "n8n-api-credentials",
          "name": "CODE_ALCHEMY API"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "url": "http://localhost:8000/webhook/content-analysis",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk_codealchemy_n8n_2025"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "analysis_results"
            },
            {
              "name": "results",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-results",
      "name": "Send Results Back",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1560, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "n8n-api-credentials",
          "name": "CODE_ALCHEMY API"
        }
      }
    }
  ],
  "connections": {
    "Content Analysis Webhook": {
      "main": [
        [
          {
            "node": "Route by Analysis Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Analysis Type": {
      "main": [
        [
          {
            "node": "Trigger Content Analysis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trigger Insight Extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Content Analysis": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Process Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Success": {
      "main": [
        [
          {
            "node": "Notify Completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Error": {
      "main": [
        [
          {
            "node": "Notify Completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Completion": {
      "main": [
        [
          {
            "node": "Send Results Back",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-01-28T00:00:00.000Z",
      "updatedAt": "2025-01-28T00:00:00.000Z",
      "id": "content-analysis-tag",
      "name": "content-analysis"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-01-28T00:00:00.000Z",
  "versionId": "1"
}
